/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    position: relative;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    overflow: hidden;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('gafas-vr.jpg') no-repeat center center/cover;
    opacity: 0.5; /* Ajusta la opacidad de la imagen */
    z-index: 1;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color semitransparente para oscurecer la imagen */
    z-index: 2;
}


header h1 {
    position: relative;
    z-index: 3;
    margin: 0;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Sombra para hacer el texto más brillante */
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 8px;
}

header p {
    position: relative;
    z-index: 3;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra para hacer el texto más brillante */
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 8x;
}

/* Main Content */
section.content {
    padding: 20px 0;
    background-color: #fff;
    margin-top: 20px;
}

section.content article h2 {
    color: #35424a;
    font-size: 2.2em;
}

section.content article h3 {
    color: #35424a;
    font-size: 1.6em;
    margin-top: 20px;
}

section.content article p {
    font-size: 1.1em;
    line-height: 1.6;
}

section.content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}
section.content ul li {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}


/* Comentarios Section */
.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.comments h3 {
    color: #35424a;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.comment-box {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.comment-box form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.comment-box input[type="text"],
.comment-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
}

.comment-box textarea {
    height: 100px;
}

.comment-box button {
    background-color: #35424a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-box button:hover {
    background-color: #2a383d;
}

/* Displaying posted comments */
#posted-comments h4 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #35424a;
}

#posted-comments p {
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}